[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
torch = "==1.12.1"
torchvision = "*"
stable-baselines3 = {extras = ["extra"], version = "==1.6.0"}
quantstats = "*"
gym = "*"

[requires]
python_version = "3.8"
