[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
torch = "2.4.0"
torchvision = "*"
stable-baselines3 = {extras = ["extra"], version = "==2.3.2"}
quantstats = "*"
gymnasium = "0.29.1"

[requires]
python_version = "3.8"
